<div class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h1> <b>SELFY <br /> </b> BEYAZ EŞYA TEKNİK SERVİS</h1>
                    <p>
                        Firmamız beyaz eşya servisi olarak 1 haftayı aşkın süredir özel servis, montaj, bakım, tamir  ve onarım hizmeti vermektedir.
                </div>
            </div>


            <div class="col-lg-3 col-md-6">
                @if (Context.User.Identity.IsAuthenticated)
                {
                    <div class="footer-widget">
                        <h3 class="title">Hızlı Erişim</h3>
                        <ul>
                            <li><a href="product.html">Hizmetler</a></li>
                            <li><a asp-controller="Account" asp-action="Profile">Hesabım</a></li>
                        </ul>
                    </div>
                }
                else
                {
                    <div class="footer-widget">
                        <h3 class="title">Hızlı Erişim</h3>
                        <ul>
                            <li><a href="product.html">Hizmetler</a></li>
                            <li><a asp-controller="Account" asp-action="Login">Giriş Yap</a></li>
                            <li><a asp-controller="Account" asp-action="Register">Kayıt Ol</a></li>
                        </ul>
                    </div>
                }
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-widget">
                    <h3 class="title">BİZE ULAŞIN</h3>
                    <div class="contact-info">
                        <p><i class="fa fa-map-marker"></i>Kuloğlu Mh., Barbaros Blv. Yıldız İş Hanı No:9, 34353 Beşiktaş/İstanbul</p>
                        <p><i class="fa fa-envelope"></i>selfyprojecttest@gmail.com</p>
                        <p><i class="fa fa-phone"></i>Numaramızı değiştirmedik halâ bir numarayız! (0212) 381 50 00</p>
                        <div class="social">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                            <a href=""><i class="fa fa-instagram"></i></a>
                            <a href=""><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row payment">
            <div class="col-md-6">
                <div class="payment-method">
                    <p></p>
                    <img src="../../img/payment-method.png" alt="Payment Method">
                </div>
            </div>
            <div class="col-md-6">
                <div class="payment-security">
                    <p>Güvenli Alışveriş:</p>
                    <img src="../../img/godaddy.svg" alt="Payment Security">
                    <img src="../../img/norton.svg" alt="Payment Security">
                    <img src="../../img/ssl.svg" alt="Payment Security">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
<!-- Footer Bottom Start -->
<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-6 copyright">
                <p>Copyright © <a href="https://wissen.selfy.com">SELFY REPAIR SERVICES</a>. All Rights Reserved</p>
            </div>

            <div class="col-md-6 template-by">
                <p>Template By <a href="https://htmlcodex.com">HTML Codex</a></p>
            </div>
        </div>
    </div>
</div>
<!-- Footer Bottom End -->
<!-- Back to Top -->
<a href="#" class="back-to-top" style="display: none;"><i class="fa fa-chevron-up"></i></a>