<!-- Top Header Start -->
<div class="top-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-3">
                <div class="logo">
                    <a asp-controller="Home" asp-action="Index" class="nav-item nav-link active">
                        <svg width="250" height="80" viewBox="0 0 343 145" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M45.848 19.8929L3.39636 57.8061V108.683H89.2755V86.9137V78.3587V69.7916V57.8061L45.848 19.8929Z" fill="#CE96A7"/>
<path d="M75.8116 108C73.2937 108 71.1535 107.119 69.391 105.356C67.6284 103.594 66.7472 101.453 66.7472 98.9356V79.4219L78.4554 82.0657V91.7596C78.4554 93.0185 78.875 94.1096 79.7143 95.0328C80.6375 95.8721 81.6867 96.2918 82.8617 96.2918H97.2137C98.4726 96.2918 99.5218 95.8721 100.361 95.0328C101.284 94.1096 101.746 93.0185 101.746 91.7596V69.6021C101.746 68.3432 101.284 67.294 100.361 66.4547C99.5218 65.5315 98.4726 65.0699 97.2137 65.0699H75.8116C73.2937 65.0699 71.1535 64.1886 69.391 62.4261C67.6284 60.6636 66.7472 58.5234 66.7472 56.0055V28.9381C66.7472 26.4202 67.6284 24.28 69.391 22.5175C71.1535 20.755 73.2937 19.8737 75.8116 19.8737H104.39C106.908 19.8737 109.048 20.755 110.81 22.5175C112.573 24.28 113.454 26.4202 113.454 28.9381V42.5348L101.746 39.7651V36.1141C101.746 34.8552 101.284 33.8061 100.361 32.9668C99.5218 32.0435 98.4726 31.5819 97.2137 31.5819H82.8617C81.6867 31.5819 80.6375 32.0435 79.7143 32.9668C78.875 33.8061 78.4554 34.8552 78.4554 36.1141V48.8295C78.4554 50.0884 78.875 51.1795 79.7143 52.1027C80.6375 52.942 81.6867 53.3617 82.8617 53.3617H104.39C106.908 53.3617 109.048 54.243 110.81 56.0055C112.573 57.768 113.454 59.9082 113.454 62.4261V98.9356C113.454 101.453 112.573 103.594 110.81 105.356C109.048 107.119 106.908 108 104.39 108H75.8116ZM122.57 108V19.8737H169.402V31.456H134.278V53.3617H157.694L155.05 65.0699H134.278V96.2918H169.402V108H122.57ZM181.214 108V19.8737H192.922V96.2918H223.011V108H181.214ZM230.637 108V19.8737H277.47V31.5819H242.346V53.3617H265.762L263.118 65.0699H242.346V108H230.637ZM304.07 108V65.1958L286.823 19.8737H298.531L309.988 49.9625L321.318 19.8737H333.026L315.779 65.1958V108H304.07Z" fill="#8C1A0F"/>
<path d="M89.0328 57.4953L57.9805 30.5671L53.8563 64.0454L69.6251 70.1103H89.0328V57.4953Z" fill="#CE96A7"/>
<path d="M46.8616 45.5937L46.7738 54.9408H56.2087L56.1209 36.3344L40.696 36.3125C35.5617 36.3125 31.3709 40.5033 31.327 45.6815L46.8616 45.5937ZM56.2306 85.988L46.8396 85.8564L46.8616 70.4754L56.1209 70.4754L56.2306 85.988ZM43.6801 51.847L28.2113 51.8251L28.2552 58.0126H31.327L31.4586 104.616L43.7898 104.616L43.7678 67.3816L62.3962 67.2719L62.3962 58.0126L43.6801 58.0345L43.6801 51.847Z" fill="white"/>
</svg>

                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="search">
                    <input type="text" placeholder="Ara">
                    <button><i class="fa fa-search"></i></button>
                </div>
            </div>
            <div class="col-md-3">
                @if (Context.User.Identity.IsAuthenticated)
                {
                    <div class="user">
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hesabım</a>
                        <div class="dropdown-menu">
                            <a asp-controller="Account" asp-action="Profile" class="dropdown-item">Profil</a>
                            <a asp-controller="Account" asp-action="Logout" class="dropdown-item">Çıkış</a>
                        </div>
                    </div
                </div>
                }
                else
                {
                    <div class="user">
                    <div class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Giriş Yap</a>
                        <div class="dropdown-menu">
                            <a asp-controller="Account" asp-action="Login" class="dropdown-item">Giriş Yap</a>
                            <a asp-controller="Account" asp-action="Register" class="dropdown-item">Kayıt Ol</a>
                        </div>
                    </div>
                </div>
                }

            </div>
        </div>
    </div>
</div>
<!-- Top Header End -->
<!-- Header Start -->
<div class="header">
    <div class="container">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a href="#" class="navbar-brand">MENU</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav m-auto">
                    <a asp-controller="Home" asp-action="Index" class="nav-item nav-link active">Ana Sayfa</a>
                    <a asp-controller="Home" asp-action="About" class="nav-item nav-link active">Hakkımızda</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Hizmetler</a>
                        <div class="dropdown-menu">
                            <a asp-controller="Home" asp-action="DishwasherServices" class="dropdown-item">Bulaşık Makinesi Teknik Servis</a>
                            <a asp-controller="Home" asp-action="FridgeServices" class="dropdown-item">Buzdolabı Teknik Servis</a>
                            <a asp-controller="Home" asp-action="WashingMachineServices" class="dropdown-item">Çamaşır Makinesi Teknik Servis</a>
                            <a asp-controller="Home" asp-action="OvenServices" class="dropdown-item">Fırın Teknik Servis</a>
                        </div>
                    </div>
                    <a asp-controller="Home" asp-action="Appoinment" class="nav-item nav-link">Randevu Al</a>
                </div>
            </div>
        </nav>
    </div>
</div>