<!DOCTYPE html>
<html lang="tr" dir="ltr">
<head>

</head>

<body>

    <!-- Breadcrumb Start -->
    <div class="breadcrumb-wrap">
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Ana Sayfa</a></li>
                <li class="breadcrumb-item"><a href="#">Kullanıcı</a></li>
                <li class="breadcrumb-item active">Giriş Yap</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb End -->
    <!-- Login Start -->
    <div class="login">
        <div class="container">
            <div class="section-header">
                <h3>Giriş Yap</h3>
            </div>
            <div class="row">
                <div class="col">
                    <div class="login-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>E-mail / Kullanıcı Adı</label>
                                <input class="form-control" type="text" placeholder="E-mail / Kullanıcı Adı">
                            </div>
                            <div class="col-md-6">
                                <label>Şifre</label>
                                <input class="form-control" type="password" placeholder="Şifre">
                            </div>
                            <div class="col-md-12">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="newaccount">
                                    <label class="custom-control-label" for="newaccount">Beni Hatırla</label>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button class="btn">Giriş</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>

