    
        <!-- My Account Start -->
        <div class="my-account">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
                            <a class="nav-link" id="orders-nav" data-toggle="pill" href="#orders-tab" role="tab">Talepler</a>
                            <a class="nav-link" id="address-nav" data-toggle="pill" href="#address-tab" role="tab">Adres</a>
                            <a class="nav-link" id="account-nav" data-toggle="pill" href="#account-tab" role="tab">Hesap Bilgileri</a>
                            <a class="nav-link" href="index.html">Çıkış</a>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="tab-content">

                            <div class="tab-pane fade" id="orders-tab" role="tabpanel" aria-labelledby="orders-nav">
                                <div class="table-responsive">
                                    <table class="table table-bordered">
                                        <thead class="thead-dark">
                                            <tr>
                                                <th>No</th>
                                                <th>Hizmet</th>
                                                <th>Tarih</th>
                                                <th>Fiyat</th>
                                                <th>Durum</th>
                                                <th>Detay</th>
                                            </tr>
                                        </thead>                                
                                    </table>
                                </div>
                            </div>

                            <div class="tab-pane fade" id="address-tab" role="tabpanel" aria-labelledby="address-nav">
                                <h4>Adres</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <h5>Fatura Adresi</h5>
                                        <input class="form-control" type="text" placeholder="Fatura Adresi">
                                        <button>Düzenle</button>
                                    </div>
                                    <div class="col-md-6">
                                        <h5>Hizmet Adresi</h5>
                                        <input class="form-control" type="text" placeholder="Hizmet Adresi">
                                        <button>Düzenle</button>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="account-tab" role="tabpanel" aria-labelledby="account-nav">
                                <h4>Hesap Bilgileri</h4>
                                <div class="row">
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Ad">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Soyad">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Telefon Numarası">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="E-mail">
                                    </div>
                                    <div class="col-md-12">
                                        <input type="text" placeholder="Adres">
                                    </div>
                                    <div class="col-md-12">
                                        <button>Güncelle</button>
                                        <br><br>
                                    </div>
                                </div>
                                <h4>Şifre Değişikliği</h4>
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="password" placeholder="Mevcut Şifre">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Yeni Şifre">
                                    </div>
                                    <div class="col-md-6">
                                        <input type="text" placeholder="Yeni Şifre Tekrar">
                                    </div>
                                    <div class="col-md-12">
                                        <button>Kaydet</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- My Account End -->
        
        
       