<!DOCTYPE html>
<html lang="tr" dir="ltr">

<body>
    <!-- Breadcrumb Start -->
    <div class="breadcrumb-wrap">
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Ana Sayfa</a></li>
                <li class="breadcrumb-item"><a href="#">Kullanıcı</a></li>
                <li class="breadcrumb-item active">Kayıt Ol</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb End -->
    <!-- Login Start -->
    <div class="login">
        <div class="container">
            <div class="section-header">
                <h3>Kayıt Ol</h3>

            </div>
            <div class="row">


                <div class="col-md-12">
                    <div class="register-form">
                        <div class="row">

                            <div class="col-md-4">
                                <label>Kullanıcı Adı</label>
                                <input class="form-control" type="text" placeholder="Kullanıcı Adı">
                            </div>

                            <div class="col-md-4">
                                <label>Ad</label>
                                <input class="form-control" type="text" placeholder="Ad">
                            </div>  
                            <div class="col-md-4">
                                <label>Soyad</label>
                                <input class="form-control" type="text" placeholder="Soyad">
                            </div>
                            <div class="col-md-6">
                                <label>E-mail</label>
                                <input class="form-control" type="text" placeholder="E-mail">
                            </div>
                            <div class="col-md-6">
                                <label>Telefon Numarası</label>
                                <input class="form-control" type="text" placeholder="Telefon Numarası">
                            </div>
                            <div class="col-md-6">
                                <label>Şifre</label>
                                <input class="form-control" type="password" placeholder="Şifre">
                            </div>

                            <div class="col-md-6">
                                <label>Şifre Tekrar</label>
                                <input class="form-control" type="password" placeholder="Şifre Tekrar">
                            </div>
                            <div class="col-md-12">
                                <label>Adres</label>
                                <input class="form-control" type="text" placeholder="Adres">
                            </div>
                            <div class="col-md-12">

                                <button class="btn">Kayıt ol</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login End -->



</body>
</html>