<!DOCTYPE html>
<html lang="tr" dir="ltr">
<head>
</head>

<body>

    <!-- Main Slider Start -->
    <div class="home-slider">
        <div class="main-slider">
            <div class="main-slider-item"><img src="../../img/Hanımabla.jpg" alt="Slider Image" /></div>
            <div class="main-slider-item"><img src="../../img/bulaşıkmaık.jpg" alt="Slider Image" /></div>
            <div class="main-slider-item"><img src="../../img/buzzzdolabı.jpg" alt="Slider Image" /></div>
            <div class="main-slider-item"><img src="../../img/hanımabla2.jpg" alt="Slider Image" /></div>
            <div class="main-slider-item"><img src="../../img/İdareederabimiz.jpg" alt="Slider Image" /></div>
            <div class="main-slider-item"><img src="../../img/shutterstock_1257874594.jpg" alt="Slider Image" /></div>

        </div>
    </div>
    <!-- Main Slider End -->
    <!-- Feature Start-->
    <div class="feature">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 col-md-6 feature-col">
                    <div class="feature-content">
                        <i class="fa fa-shield"></i>
                        <h2>Güvenilir Hizmet</h2>
                        <div style="text-align: justify;">
                            <p>
                                Firmamız sunmuş olduğu hizmetlerde her daim müşteri memnuniyetine önem vermiştir. Kaliteli ve güvenilir bir hizmet almak için servisimizi gönül rahatlığıyla tercih edebilirsiniz. Selfy hizmeti aldığınızda ürününüzde değişen parçalar orjinal parçalardır.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 feature-col">
                    <div class="feature-content">
                        <i class="fa fa-shopping-bag"></i>
                        <h2>Kaliteli Servis</h2>
                        <div style="text-align: justify;">
                            <p>
                                Selfy, siz değerli müşterilerimize profesyonel teknisyenlerimizle kaliteli servis hizmeti sunar. Sahip olduğumuz hizmet kalitesini; uyguladığımız ekonomik fiyatlarla güven çerçevesinde müşterilerimize sunmak isteriz.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 feature-col">
                    <div class="feature-content">
                        <i class="fa fa-truck"></i>
                        <h2>Ülke Çapında Hizmet</h2>
                        <div style="text-align: justify;">
                            <p>
                                Türkiye’nin her noktasında
                                aynı kalitede hizmet.  Acil bir sorunla karşılaştığınızda, servis ekibimiz Türkiye’de nerede olursanız olun kısa bir süre sonunda yanınızda olacaktır.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 feature-col">
                    <div class="feature-content">
                        <i class="fa fa-phone"></i>
                        <h2>Telefon Desteği</h2>
                        <div style="text-align: justify;">
                            <p>
                                Nerede olursanız olun, bir telefonla yanınızdayız. Kolay servis kaydı ve hata teşhisimizle 7/24 telefonla veya Selfy web sitesi üzerinden talep oluşturma avantajıyla sürekli hizmet vermekteyiz.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End-->
    <!-- Category Start-->
    <div class="category">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="category-img">
                        <img src="../../img/buzdolabi.jpg" />
                        <a asp-controller="Home" asp-action="FridgeServices" class="category-name">
                            <h2>Buzdolabı Teknik Servis</h2>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="category-img">
                        <img src="../../img/bulaşıkmak.jpg" />
                        <a asp-controller="Home" asp-action="DishwasherServices" class="category-name">
                            <h2>Bulaşık Makinesi Teknik Servis</h2>
                        </a>
                    </div>
                    <div class="category-img">
                        <img src="../../img/Firin.jpg" />
                        <a asp-controller="Home" asp-action="OvenServices" class="category-name">
                            <h2>Fırın Teknik Servis</h2>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="category-img">
                        <img src="../../img/esascamasırmak.jpg" />
                        <a asp-controller="Home" asp-action="WashingMachineServices" class="category-name">
                            <h2>Çamaşır Makinesi Teknik Servis</h2>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Category End-->

</body>
</html>
