<!DOCTYPE html>
<html lang="en">
<head>

</head>

<body>

    <!-- Breadcrumb Start -->
    <div class="breadcrumb-wrap">
        <div class="container">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Ana Sayfa</a></li>
                <li class="breadcrumb-item"><a href="#">Hizmetler</a></li>
                <li class="breadcrumb-item active">Fırın Teknik Servis</li>
            </ul>
        </div>
    </div>
    <!-- Breadcrumb End -->
    <!-- Product Detail Start -->
    <div class="product-detail">
        <div class="container">
            <div class="row">
                <div class="col-lg-10">
                    <div class="row align-items-center product-detail-top">
                        <div class="col-md-6">
                            <div class="product-slider-single">
                                <img src="../../img/esasfırın.png" alt="Product Image">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="product-content">
                                <div class="title"><h2 align="center" > <b> Fırın <br />Teknik Servisi</b> </h2></div>
                                <div class="details">
                                    <div style="text-align: justify;">
                                        <p>
                                            Selfy Beyaz Eşya Teknik Servis 25 yıllık tecrübesi, özel eğitim vererek yetiştirdiği profesyonel kadrosu ve güler yüzlü hizmeti ile daima siz değerli müşterimizin ihtiyaçlarını en iyi şekilde karşılamak için çalışır. Zaman içinde teknolojinin ilerlemesi ile birlikte daha da gelişen firmamız, teknolojiyi yerinde takip ederek en doğru hizmeti vermek için çalışmalarını bu yönde yapmaktadır.
                                        </p>
                                    </div>
                                </div>
                            </div>
                                                  <div class="frame">
                    @*<button asp-controller="Home" asp-action="Appoinment" class="custom-btn btn-9">TALEP OLUŞTUR</button>*@
                    
        <div asp-controller="Home" asp-action="Appoinment" class="button" onclick="document.body.classList.add('active')">
            <span text-align: "center" class="button-text">TALEP OLUŞTUR</span> </> 
            <div class="button-backgrounds">
                <div class="button-circle button-circle1"></div>
                <div class="button-circle button-circle2"></div>
                <div class="button-circle button-circle3"></div>
                <div class="button-circle button-circle4"></div>
            </div>
        </div>
   

    <div class="wrapper">
        <div class="popup">
            <div class="popup-inside">
                <div class="backgrounds">
                    <div class="background"></div>
                    <div class="background background2"></div>
                    <div class="background background3"></div>
                    <div class="background background4"></div>
                    <div class="background background5"></div>
                    <div class="background background6"></div>
                </div>
            </div>
            <div class="content">
                <div class="content-wrapper">
                    <h1>well done</h1>
                    <p>Do you like it?</p>
                    <p class="try-again" onclick="document.body.classList.remove('active')">Yes! I will try again</p>
                </div>
            </div>
        </div>
    </div>
                    </div>
                        </div>
                    </div>

                    <div class="row product-detail-bottom">
                        <div class="col-lg-12">
                            <ul class="nav nav-pills nav-justified">
                                <li class="nav-item">
                                    <a class="nav-link active" data-toggle="pill" href="#description">Açıklama</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="pill" href="#specification">Sıkça Karşılaşılan Sorunlar</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div id="description" class="container tab-pane active">
                                    <br>

                                    <div style="text-align: justify;">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nisl eros,
                                            pulvinar facilisis justo mollis, auctor consequat urna. Morbi a bibendum metus.
                                            Donec scelerisque sollicitudin enim eu venenatis. Duis tincidunt laoreet ex,
                                            in pretium orci vestibulum eget. Class aptent taciti sociosqu ad litora torquent
                                            per conubia nostra, per inceptos himenaeos. Duis pharetra luctus lacus ut
                                            vestibulum. Maecenas ipsum lacus, lacinia quis posuere ut, pulvinar vitae dolor.
                                            Integer eu nibh at nisi ullamcorper sagittis id vel leo. Integer feugiat
                                            faucibus libero, at maximus nisl suscipit posuere. Morbi nec enim nunc.
                                            Phasellus bibendum turpis ut ipsum egestas, sed sollicitudin elit convallis.
                                            Cras pharetra mi tristique sapien vestibulum lobortis. Nam eget bibendum metus,
                                            non dictum mauris. Nulla at tellus sagittis, viverra est a, bibendum metus.
                                        </p>
                                    </div>
                                </div>
                                <div id="specification" class="container tab-pane fade">
                                    <br>
                                    <div id="accordion">
                                        <div class="card">
                                            <div class="card-header" id="headingOne">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                        Fırın Su Boşaltmıyor
                                                    </button>
                                                </h5>
                                            </div>

                                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                                <div class="card-body">
                                                    <ul font-family:sans-serif; font-family:corier;">
                                                        <div style="text-align: justify;">
                                                        <li>En önemli sorun bulaşıkların yemek artıklarıyla dolu olmasıdır. Pompa motoruna gelen artıklar bulaşık makinesi pompa motorunu bozar ve sonucunda bulaşık makinesi suyu boşaltmayacaktır.</li>
                                                        <li>Bulaşık makinesine kirli bulaşıkları yerleştirirken daha seyrek yerleştirmekte fayda vardır. Bulaşık makinesi yıkamaya başladığı zaman tazyikli suyla yıkamaya başlar ve bulaşıkları yerinden oynatır. Bardaklar veya tabaklar sallandıkça birbirine çarpar ve kırılmalar olur. Bu kırılmalar sonucu pompa motoruna kırık parçalar gidebilir. Bulaşık makinesi pompa motoru tıkanır ve arızaya geçer.</li>
                                                        <li>Diğer bir sebep de tahliye hortumunun sıkışması, bükülmesi veya tıkanmasıdır. Kullanıcı olarak yapabileceğiniz işlem hortumun herhangi bir yere sıkışıp sıkışmadığını kontrol etmektir. Bulaşık makinesi tahliye hortumu bükülmüş ise düzeltilmelidir.</li>
                                                        <li>Elektrikten ötürü yaşanan arızalar olabilir.</li>
                                                        <li>Pompa Motoru pervanesi kırılmış olabilir.</li>
                                                </div>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h5 class="mb-0">
                                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    Fırın Su Almıyor
                                                </button>
                                            </h5>
                                        </div>
                                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                            <div class="card-body">
                                                <ul font-family:sans-serif; font-family:corier;">
                                                    <div style="text-align: justify;">
                                                    <li>Elektrik gelmiyordur. Elektrik kablolarını kontrol ediniz.</li>
                                                    <li>Su musluğu kapalıdır. Temiz su hortumu yerinden çıkmış veya kıvrılmıştır. Bunu kontrol ediniz.</li>
                                                    <li>Su giriş valfinin ( ventil) ucunda filtre vardır. Bu filtre kumdan veya kireçten ötürü tıkanır.</li>
                                                    <li>Yan cep tıkalıdır. Aşırı yağ ve kireçten ötürü zamanla tıkanır. ( Görebileceğiniz bir yerde değildir.)</li>
                                                    <li>Pompa Motoru pervanesi kırılmış olabilir.</li>
                                            </div>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h5 class="mb-0">
                                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                Fırın Çalışmıyor
                                            </button>
                                        </h5>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                        <div class="card-body">
                                            <ul font-family:sans-serif; font-family:corier;">
                                                <div style="text-align: justify;">
                                                <li>Fırına elektrik gelmiyor olabilir.</li>
                                                <li>Fırının kapağı tam kapanmıyor olabilir, kontrol ediniz.</li>
                                                <li>Fırın kapağının kilidi basmıyor olabilir.</li>
                                                <li>Fırın Açma-Kapama düğmesi arızalanmış olabilir.</li>
                                                <li>Fırın ana kartı arızalanmış olabilir.</li>
                                                <li>Fırın tuz eksikliğinden kaynaklı kireçlenmeler ve kireç tıkanıklıkları olabilir.</li>
                                        </div>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
</body>
</html>
